<div class="w3-modal popup">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
      <div class="w3-container w3-white w3-center">
        <h1 class="w3-wide">CREATE TASK</h1>
        <form [formGroup]="crttaskForm" (ngSubmit)="createtask(crttaskForm.value)">
          <p>
            <input class="w3-input" type="text" placeholder="Title" formControlName="title">
          </p>
          <p>
            <textarea class="w3-input " placeholder="Description: " formControlName="description"></textarea>
          </p>
          <div class="scrollmenu">
            <ul id="myUL">
              <li *ngFor="let list of listAllStd" class="{{list.class}}" (click)="checked(list)">{{list.stdName}}</li>
            </ul>
          </div>
          <p>
            <input class="w3-input " type="datetime-local" placeholder="Date and time" formControlName="deadline">
          </p>
          <div class="w3-row">
            <div class="w3-half">
              <button type="submit" class="w3-button w3-block w3-green">Create</button>
            </div>
            <div class="w3-half">
              <button type="button" (click)="isCreateTask()" class="w3-button w3-block w3-red">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
