<link href="https://fonts.googleapis.com/css?family=Baloo|Ubuntu" rel="stylesheet">

<body>
	<div class="container">
		<section id="content">
			<form [formGroup]="profileForm" (ngSubmit)="edit(profileForm.value)">
				<h1>My profile</h1>
				<div>
					<input type="text" placeholder="Username" formControlName="username" />
				</div>
				<div>
					<input type="text" placeholder="FirstName" formControlName="firstname" />
				</div>
				<div>
					<input type="text" placeholder="LastName" formControlName="lastname" />
				</div>
				<div>
					<input type="text" placeholder="Email" formControlName="email" />
				</div>
				<div>
					<input type="text" placeholder="Gender" formControlName="gender" />
				</div>
				<div>
					<input type="text" *ngIf="authService.isProfessor()" placeholder="Degree" formControlName="degree" />
				</div>
				<div>
					<input type="text" *ngIf="authService.isProfessor()" placeholder="Skills" formControlName="skills" />
				</div>
				<div>
					<input type="text" *ngIf="authService.isProfessor()" placeholder="ProfessorID" formControlName="profID" />
				</div>
				<div *ngIf="profileForm.dirty">
					<input type="submit" value="Change" />
				</div>
			</form>
		</section>
	</div>
</body>