<div class="w3-card-4" style="width:100%;">
  <header class="w3-container">
    <div>
      <h4 class="card-title pull-left">
          Topic
        <ng-container *ngIf="topicNo">
            {{topicNo}}
        </ng-container>
         : {{topic.title}}</h4>
      <div class="dropdown pull-right">
        <button class="btn btn-success active dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Option
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <ng-container *ngIf="topicSv.requestType === 'recent'">
            <a class="dropdown-item" (click)="apply()" >Join</a>
          </ng-container>
          <a class="dropdown-item" href="#">Detail</a>
        </div>
      </div>
    </div>
  </header>
  <hr class="w3-clear">
  <div class="w3-container topic-content">
      <p class="card-text"><strong>Summary: </strong> {{topic.sumary}}</p>
      <p class="card-text"><strong>Student subscription limit: </strong>{{topic.stNumLimit}}</p>
  </div>

  <!-- <footer class="w3-container bg-light">
    <h5>Footer</h5>
  </footer> -->
</div>
