.float{
	position:fixed;
	bottom:58px;
  right: 17px;
  z-index: 99;
}

.my-float{
	margin-top:22px;
}

::ng-deep snack-bar-container.custom-class {
  background: yellow;
}

::ng-deep .custom-class .mat-simple-snackbar {
  color: green;
}
