<form #createTopicForm="ngForm" action="" method="post" (ngSubmit)="submitTopic(createTopic)">

  <div class="form-group">
    <label for="title-topic">
      <h5>Title <span style="color: red">*</span></h5>
    </label>
    <input type="text" name="title-topic" id="title-topic" class="form-control" placeholder="Insert your title here" [(ngModel)]="createTopic.topic.title"
      required #title="ngModel">
    <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
      Title is required
    </div>
  </div>
  <div class="form-group">
    <label for="stLim">
      <h5> Student Limit <span style="color: red">*</span></h5>
    </label>
    <input type="number" [(ngModel)]="createTopic.topic.stNumLimit" class="form-control" name="stLim" id="stLim" aria-describedby="helpStLim"
      placeholder="Insert limit" required #stLim="ngModel">
      <div [hidden]="stLim.valid || stLim.pristine" class="alert alert-danger">
          Limit of student is not valid
        </div>
    <small id="helpStLim" class="form-text text-muted">Limit of student allowed to apply to the topic</small>
  </div>
  <div class="form-group">
    <label for="summary-topic">
      <h5>Specialize <span style="color: red">*</span></h5>
    </label>
    <select class="form-control"  [(ngModel)]="createTopic.topic.idSpecialize" name="spec"  required #spec="ngModel">
        <option *ngFor="let spec of specLst | async" [ngValue]="spec.idSpecialize">
          {{spec.name}}
        </option>
    </select>
    <div [hidden]="spec.valid || spec.pristine" class="alert alert-danger">
        Specialize is required
      </div>
  </div>
  <div class="form-group">
      <label for="specialize-topic">
        <h5>Sumary</h5>
      </label>
      <textarea name="specialize-topic" id="specialize-topic" cols="10" rows="5" class="form-control" placeholder="Insert your specialize here"
        [(ngModel)]="createTopic.topic.sumary" ></textarea>
    </div>
  <div class="form-group">
    <label for="">
      <h5>Requirements <span style="color: red">*</span></h5>
    </label>
    <ng-container *ngFor="let req of createTopic.topicRequirement; let i = index">
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="req.detail" name="require{{i}}" required #require="ngModel">
        <div class="input-group-append">
          <i class="material-icons btn-icon" *ngIf="createTopic.topicRequirement.length > 1" (click)="removeReq(i)">remove</i>
        </div>
      </div>
      <div [hidden]="require.valid || require.pristine" class="alert alert-danger">
          Requirement is required
        </div>
    </ng-container>
    <input name="btnAddReq" id="btnAddReq" class="btn btn-outline-primary btn-sm pull-right" type="button" value="Add" (click)="addReq()">
  </div>
  <br>
  <div class="form-group">
    <label for="">
      <h5>Missions <span style="color: red">*</span></h5>
    </label>
    <ng-container *ngFor="let miss of createTopic.topicMission; let i = index">
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="miss.detail" required #mission="ngModel" name="mission{{i}}">
        <div class="input-group-append">
          <i class="material-icons btn-icon" *ngIf="createTopic.topicMission.length > 1" (click)="removeMission(i)">remove</i>
        </div>
      </div>
      <div [hidden]="mission.valid || mission.pristine" class="alert alert-danger">
          Misson is required
        </div>
    </ng-container>
    <input name="btnAddReq" id="btnAddReq" class="btn btn-outline-primary btn-sm pull-right" type="button" value="Add" (click)="addMission()">
  </div>
</form>
