<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/thesis</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="hcmut.thesis.backend.models.ChatGroup"/>
        <mapping class="hcmut.thesis.backend.models.CommentTask"/>
        <mapping class="hcmut.thesis.backend.models.Faculty"/>
        <mapping class="hcmut.thesis.backend.models.JoinPerMeeting"/>
        <mapping class="hcmut.thesis.backend.models.Meeting"/>
        <mapping class="hcmut.thesis.backend.models.Professor"/>
        <mapping class="hcmut.thesis.backend.models.Semester"/>
        <mapping class="hcmut.thesis.backend.models.Standard"/>
        <mapping class="hcmut.thesis.backend.models.Student"/>
        <mapping class="hcmut.thesis.backend.models.StudentTopicSem"/>
        <mapping class="hcmut.thesis.backend.models.Task"/>
        <mapping class="hcmut.thesis.backend.models.Topic"/>
        <mapping class="hcmut.thesis.backend.models.TopicPerSemester"/>
        <mapping class="hcmut.thesis.backend.models.TopicSemStandard"/>
        <mapping class="hcmut.thesis.backend.models.User"/>
        <mapping class="hcmut.thesis.backend.models.StudentTask"/>
        <mapping class="hcmut.thesis.backend.models.TopicMission"/>
        <mapping class="hcmut.thesis.backend.models.TopicRequirement"/>
        <mapping class="hcmut.thesis.backend.models.Notification"/>
        <mapping class="hcmut.thesis.backend.models.File"/>
        <mapping class="hcmut.thesis.backend.models.Specialize"/>
        <mapping class="hcmut.thesis.backend.models.Review"/>
        <mapping class="hcmut.thesis.backend.models.MeetingSchelule"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>