<header class="jumbotron my-4">
  <h1 class="display-3">Hello {{authoSv.getUsername()}}</h1>
  <p class="lead">Welcome to Thesis Management Website!</p>
</header>
<div class="row text-center">

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card">
      <img class="card-img-top" src="../../assets/svg/ic_account_box_white_24px.svg" style="background-color:#01579b">
      <div class="card-body">
        <h4 class="card-title">Account</h4>
        <p class="card-text">Manage, edit your account</p>
      </div>
      <div class="card-footer">
        <a name="btn-acc" id="btn-acc" class="btn btn-primary" href="#" role="button" [routerLink]="">Detail</a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card">
      <img class="card-img-top" src="../../assets/svg/ic_assignment_white_24px.svg" alt="" style="background-color:#c62828">
      <div class="card-body">
        <h4 class="card-title">Task</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Find Out More!</a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card">
      <img class="card-img-top" src="../../assets/svg/ic_assignment_turned_in_white_24px.svg" alt="" style="background-color: #827717">
      <div class="card-body">
        <h4 class="card-title">Topic</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
      </div>
      <div class="card-footer">
          <a name="btn-acc" id="btn-acc" class="btn btn-primary" href="#" role="button" [routerLink]="['/topic']">Detail</a>
      </div>
    </div>
  </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="../../assets/svg/ic_today_white_24px.svg" alt="" style="background-color: #00695c">
        <div class="card-body">
          <h4 class="card-title">Meeting</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>

</div>
